.package-content-info-more {
	background-color: $orange-color !important;
}
.package-content-header-item {
	display: flex !important;
}
.package-sidebar-form button {
	background-color: $orange-color !important;
}
.package-content-program-btn-close,
.package-content-program-btn-open {
	background-color: $orange-color;
}
.package-content-nav-link--active,
.package-content-nav-item:hover .package-content-nav-link {
	background-color: $orange-color !important;
}
