.package-content-header-item {
	display: flex !important;
}
.package-content-info-more {
	background: $yellow-color !important;
}
.package-sidebar-form button {
	background: $yellow-color !important;
}
.package-content-nav-item:hover .package-content-nav-link,
.package-content-nav-link--active {
	background: $yellow-color !important;
}
.package-sidebar-search a {
	background: $yellow-color !important;
}
.package-content-program-btn-close,
.package-content-program-btn-open {
	background: $yellow-color !important;
}
