// Color
$primary-color: #14b9d5;
$violet-color: #ba71da;
$green-color: #1bbc9b;
$red-color: #f76570;
$yellow-color: #ffd205;
$yellow-color--light: #ffd105;
$orange-color: #f3a46b;
$text-color: #9a9a9a;
$text-color-light: #dadada;
$title-color: #555555;
$border-color: #f1f1f1;
$text-input-color: #a3a3a3;
$bg-input-color: #f9f9f9;
