section.destinations
  .destinations-wrapper.grid.wide
    +blockTitle("Our proposals", "our", "destinations", "green")
    .destinations-list.row.lg-gutter
      .destinations-item.col.l-4.m-6.c-12
        +singlePackage("./images/destination-europe.jpg","./images/destination-europe-icon-arch.png", "europe", "03", {"Berlin": "#", "Amsterdam": "#", "Tuscany" :"#"})
      .destinations-item.col.l-4.m-6.c-12
        +singlePackage("./images/destination-thailandian.jpg","./images/destination-thailandian-icon-buddha.png", "Thailandian", "01", {"Phuket": "#"})
      .destinations-item.col.l-4.m-6.c-12
        +singlePackage("./images/destination-asia.jpg","./images/destination-asia-icon-torii-gate.png", "asia", "02", {"Hong Kong": "#", "Phuket": "#"})
      .destinations-item.col.l-4.m-6.c-12
        +singlePackage("./images/destination-italy.jpg","./images/destination-italy-icon-pisa.png", "Italy", "01", {"Tuscany" :"#"})
      .destinations-item.col.l-4.m-6.c-12
        +singlePackage("./images/destination-netherlands.jpg","./images/destination-netherlands-icon-london-eye.png", "netherlands", "01", {"Amsterdam": "#"})
      .destinations-item.col.l-4.m-6.c-12
        +singlePackage("./images/destination-US.jpg","./images/destination-US-icon-golden-gate.png", "United States", "01", {"San Francisco": "#"})