section.discover.grid
	.discover-wrapper.row.no-gutters
		.discover-item.discover-item-left.col.l-6.m-12.c-12
			h3.discover-item-caption 01.Last minute
			h2.discover-item-title Discover cities
			a.discover-item-link.btn.btn-lg.bg-white.color-orange Details
		.discover-item.discover-item-right.col.l-6.m-12.c-12
			h3.discover-item-caption 02.Promotions
			h2.discover-item-title Discover nature
			a(href="#").discover-item-link.btn.btn-lg.bg-white.color-green Details