footer.footer
	.footer-wrapper.grid.wide
		.footer-top.row.no-gutters
			.footer-top-left.col.l-6.m-12.c12
				+blockTitle("keep in touch", "Travel with Us", "", "", "left")
			.footer-top-right.col.l-6.m-12.c12
				input(type="email", required).footer-top-right--input
				button(type="submit").footer-top-right--btn.btn.btn-lg.bg-primary.color-white Send
		.footer-content.row.no-gutters
			.footer-content-left.col.l-6.m-12.c-12
				.footer-content-logo
					img(src="./images/footer-logo-color.png", alt="Logo").footer-content-img
				p.footer-content-desc.color-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut diam et nibh <u>condimentum</u> venenatis eu ac magnasin. Quisque interdum est mauris, eget ullamcorper.
				.footer-content-social
					+footerSocial("twitter")
					+footerSocial("youtube")
					+footerSocial("facebook")
					+footerSocial("vimeo")
			.footer-content-right.col.l-6.m-12.c-12
				.footer-content-right--wrapper.row.lg-gutter
					.footer-content-right--item.col.l-4.m-12.c-12
						.footer-content-title Our agency
						ul.footer-content-list
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Services
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Insurancee
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Agency
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Tourism
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Payment
					.footer-content-right--item.col.l-4.m-12.c-12
						.footer-content-title Partners
						ul.footer-content-list
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Booking
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text RentalCar
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text HostelWorld
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Trivago
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text TripAdvisor
					.footer-content-right--item.col.l-4.m-12.c-12
						.footer-content-title Last minute
						ul.footer-content-list
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text London
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text California
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Indonesia
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Europe
							li.footer-content-item
								img(src="./images/icon-right-arrow.png", alt="icon arrow").footer-content-item--img
								a(href="#").footer-content-item--link.color-text Oceania
		.footer-bottom.row.no-gutters
			p.footer-bottom-left.col.l-6.m-12.c-12 The best wordpress travel theme
			p.footer-bottom-right.col.l-6.m-12.c-12 Copyright nicdark themes 2018
