section.holiday
	.holiday-wrapper.grid.wide
		.row.lg-gutter
			.holiday-left.col.l-2.m-0.c-0
			.holiday-middle-left.col.l-4.m-12.c-12
				h2.holiday-title Your
				h2.holiday-title Next #[span.title-underline-red Holiday]
			.holiday-middle-right.col.l-4.m-12.c-12
				a(href="#").holiday-btn.btn.btn-lg View all packages
			.holiday-right.col.l-2.m-0.c-0