block mixins
	include ../blocks/mixins
block vars
	-title = 'Site'
	-bodyClass = ''

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=title
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
		link(rel="icon", href="images/favicon.jpg", type="image/x-icon", sizes="16x16")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel="stylesheet", href="styles/fontawesome.css")
		link(rel="stylesheet", href="styles/datepicker.min.css")
		link(rel="stylesheet", href="styles/page.css")
		block css
	body(class=bodyClass)
		.wrapper
			block header
			block container
			block footer
				include ../blocks/footer
		block layer
		block scripts
		//- include ../blocks/scripts