extends layout/page
block css
	link(rel="stylesheet", href="styles/about-us.css")

block vars
	-title = 'About us 3 - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/header-navbar

block container