extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/amsterdam.css")

block vars
	-title = 'Amsterdam - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/amsterdam-header

block container
	include blocks/amsterdam-body