extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/asia.css")

block vars
	-title = 'Asia - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/asia-header

block container
	include blocks/asia-body