extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/berlin.css")

block vars
	-title = 'Berlin - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/berlin-header

block container
	include blocks/berlin-body