extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/hongkong.css")

block vars
	-title = 'Hong Kong - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/hongkong-header

block container
	include blocks/hongkong-body