extends layout/layout

block vars
	-title = 'Love Travel - Best Travel WordPress Theme'
	-bodyClass = 'home-page'

block container
	include blocks/destination
	include blocks/holiday
	include blocks/beach
	include blocks/discover
	include blocks/package