extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/phuket.css")

block vars
	-title = 'Phuket - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/phuket-header

block container
	include blocks/phuket-body