extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/sanfrancisco.css")

block vars
	-title = 'San Francisco - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/sanfrancisco-header

block container
	include blocks/sanfrancisco-body