extends layout/page
block scripts
	include blocks/scripts
block css
	link(rel="stylesheet", href="styles/search1.css")

block vars
	-title = 'Search 1 - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/search1-header
block container
	include blocks/search1-body