extends layout/page
block css
	link(rel="stylesheet", href="styles/search2.css")

block vars
	-title = 'Search 2 - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/search2-header

block container
	include blocks/package