extends layout/page
block scripts
	include blocks/packages-script
block css
	link(rel="stylesheet", href="styles/tuscany.css")

block vars
	-title = 'Tuscany - Love Travel'
	-bodyClass = 'home-page'

block header
	include blocks/tuscany-header

block container
	include blocks/tuscany-body